<h1>Edit todo</h1>

  <div>
    <form [formGroup]="editFormGroup" >
      <div class="form-group">
        <label>Title: </label>
        <div class="input-group">
          <input class="form-control" type="text" name="title" [defaultValue]="titleControl" [formControl]="titleControl">
        </div>
        <div class="error-text" *ngIf="titleControl.invalid">
          Type text (min 2 symbol)
        </div>

      </div>
      <div class="form-group">
        <label>Description: </label>
        <div class="input-group">
          <input class="form-control" type="text" name="description" [formControl]="descriptionControl">
        </div>
        <div class="error-text" *ngIf="descriptionControl.invalid">
          Type text (min 2 symbol)
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
<!--    <button [disabled]="myFormGroup.invalid" type="button" class="btn btn-outline-dark" (click)="[modal.close('Save click'), save(todo)]">Save todo</button>-->
  </div>


<!--(ngSubmit)="save(todo)"-->





